.form-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
}

.form-group {
  margin: 10px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

input {
  width: 50%;
}

button {
  display: block;
  margin: 20px auto;
}
