<div class="search-field">
  <mat-form-field appearance="outline" class="input-field">
    <input [(ngModel)]="searchValue" matInput placeholder="Search filed">
    <button (click)=" onSearch() " mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" class="select-field">
    <mat-label>Filter By</mat-label>
    <mat-select [(value)]="filterBy">
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let item of filterReferenceList" [value]="item.value">{{item.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<ng-container *ngIf="(faceSnaps$ |async)?.length!=0 else noData">
  <app-face-snap *ngFor="let snapface of faceSnaps$ | async" [snapFace]="snapface"> Loading data ...</app-face-snap>
</ng-container>

<ng-template #noData>
  <div class="search-field">
    <p>No data available</p>
  </div>
</ng-template>
