<div class="face-snap-card" *ngIf="faceSnap$ | async as snapFace" [ngClass]="{snapped: appreciation=='Liked', unSnapped: appreciation=='Unliked'}">

  <h2>{{ snapFace.title | titlecase}}</h2>
  <a routerLink="/facesnaps">BACK</a>
  <p>Mis en ligne {{ snapFace.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>

  <img [src]="snapFace.imageURL" [alt]="snapFace.title">
  <p>{{snapFace.description}}</p><br>
  <p *ngIf="snapFace.location">Photo prise à <strong>{{snapFace.location | uppercase}}</strong></p>
  <p>
    <button (click)="onSnap(snapFace.id)">{{appreciation}}</button>
    <span [ngStyle]="{color: 'rgb(0,'+ snapFace.snaps*10 +', 0)'}" >👍  {{ snapFace.snaps }}</span>
    <button (click)="onDeleteSnap(snapFace.id)" [ngClass]="'delete'"><i class="far fa-trash-alt"></i> Delete</button>
  </p>
</div>
