/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;

}

.delete {
  float: right;
  background-color: red;
  color: white;
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 500;

  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .snapped {
    background-color: rgba(lightgreen, 0.4);
    color: darkgreen;

    button {
      box-shadow: lightgreen 3px 3px 7px;
      color: darkgreen;

      &:active {
        box-shadow: lightgreen 0 0 5px;
      }
    }

    .delete {
      color: white;
    }
  }

  .unSnapped {
    background-color: rgba(#ec7878, 0.4);
    color: darkred;

    button {
      box-shadow: #ec7878 3px 3px 7px;
      color: darkred;

      &:active {
        box-shadow: #ec7878 0 0 5px;
      }

      span {
        color: darkred;
      }
    }

    .delete {
      color: white;
    }
  }

  .snack-success {
    background-color: rgba(lightgreen, 0.8);
    color: darkgreen;
    font-weight: bold;
  }

  .snack-danger {
    background-color: rgba(#ec7878, 0.8);
    color: darkred;
    font-weight: bold;
  }
}
