/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;

}

.delete {
  float: right;
  background-color: red;
  color: white;
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 500;

  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
